In [108]:
import pandas as pd
import numpy as np
from modul_static import statistic

In [109]:
a=[i for i in range(11)]
b=[i*0.5 for i in np.random.randn(11)]
z=[i for i in range(1,10)]

In [119]:
# 1.how value of Mean,Median And Mode in variabel a and b
df=pd.DataFrame({"data A":a,"data B":b})
df.describe()

          data A     data B
count  11.000000  11.000000
mean    5.000000  -0.296272
std     3.316625   0.429482
min     0.000000  -0.966325
25%     2.500000  -0.588829
50%     5.000000  -0.232943
75%     7.500000   0.005162
max    10.000000   0.219577

-0.23294266747244127

In [112]:
# this for prove the accurate the value from pakage scipy with own functon build
from scipy.stats import mode
mode(a)

/tmp/ipykernel_5858/3498400494.py:3: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode(a)

ModeResult(mode=array([0]), count=array([1]))

In [113]:
# Data Frame 
df=pd.DataFrame({
    "Data ke-1":a,
    "Data ke-2":b,
})
df.head()

   Data ke-1  Data ke-2
0          0  -0.966325
1          1  -0.959136
2          2  -0.694511
3          3  -0.483146
4          4  -0.290840

In [114]:
df.var()

Data ke-1    11.000000
Data ke-2     0.184455
dtype: float64

In [115]:
df.describe()

       Data ke-1  Data ke-2
count  11.000000  11.000000
mean    5.000000  -0.296272
std     3.316625   0.429482
min     0.000000  -0.966325
25%     2.500000  -0.588829
50%     5.000000  -0.232943
75%     7.500000   0.005162
max    10.000000   0.219577